[submodule "_ref/WiFiManager"]
	path = _ref/WiFiManager
	url = https://github.com/tzapu/WiFiManager
[submodule "_ref/Adafruit_SSD1306"]
	path = _ref/Adafruit_SSD1306
	url = https://github.com:adafruit/Adafruit_SSD1306.git
[submodule "_tryout/nodemcu_SSD1306/_ref/esp8266-oled-ssd1306"]
	path = _tryout/nodemcu_SSD1306/_ref/esp8266-oled-ssd1306
	url = https://github.com:ThingPulse/esp8266-oled-ssd1306.git
